body{
    background: #ffffff;;
    margin: 0;
    
}

html{
    font-family: helvetica;
    /* margin: 50px; */
}


.topnav{
   
    
    background: #f8cb00;
    position: fixed;
    width: 100%;
    top: 0;
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    
}


#title{
    font-family: Helvetica;
    font-size: 22px;
    width: 25%;
    color: #ffffff;
    
   

}


.title{
    justify-content: space-between;
    display: flex;


}
#location{
    
    margin: 1% 0;
    font-size: 15px;
    flex: 3;


}

#city{
    color:#6364d8;
    left: 20%;
    top: 30%;
    font-size: 15px;
    text-decoration: none;
    flex:1;

}

#phone{
   
    color: #2d2d2d;
    left: 30%;
    top: 30%;
    font-size: 15px;
    text-decoration: none;
    flex: 2;


}

.topnav div p{
    display: inline-block;
    text-align: center;
}

.navicons{
    padding-right: 4px;
    width: 15px;
    height: 16px;
    display: inline;
}

#menu{
    
    color: #2d2d2d;
    /* left: 40%; */
    /* top: 30%; */
    font-size: 15px;
    text-decoration: none;
    align-content: flex-end;
    flex: auto;
}
    


#menu li{
    display: inline;
    padding-left: 15px;
}

#phone,#location,#menu{
    
   
    margin: 1% 0;
}

#search{
    
   
    display: inline-flex;
    width: 46rem;
    height: 30px;
    vertical-align: middle;
    /* margin: 0px; */
    border-style: hidden;
    border-radius: 5px;
    padding: 10px;
    /* margin-left: 3rem; */
    /* align-items: flex-start; */
    flex: 1;
    
}
#container{
    display: flex;
    text-align: center;
    margin: auto;
    padding: 5px;
    align-content: center;
    justify-content: center;
}

#container1{
    display: flex;
    flex-direction: row;
    flex-grow: 0.2;
    margin-right: 7.4rem;
    margin-left: auto;
}
#container1 #title{
    flex-grow: 10;
}

#cart{
    width: 170px;
    /* height: 30px; */
    text-align: center;
    display: inline-block;
    background: #6364d8;
    vertical-align: middle;
    font-size: 15px thin;
    font-family: Helvetica;
    color: #ffffff;
    text-decoration: none;
    border-style: transparent;
    border-radius: 5px;
    /* float: right; */
    /* padding: 10px; */
    /* line-height: 32px; */
    }



#cart img{
    vertical-align: middle;
    height: 20px;
    width: 20px;
    padding: 2px;

}


  #cart1{
    background: #393ab1;
    width: 35px;
    height: 42px;
    font-family: Helvetica;
    font-size: 15px;
    color: #ffffff;
    /* padding: 10px; */
    border-style: transparent;
    /* border-radius: 5px; */
    /* display: inline-block; */
    /* margin: 0; */
    float: right;
    padding: 7px 5px 0 5px;
    line-height: 36px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  #cartcont{
    display: inline-block;
    margin-left: 5%;
  }

  .cart{
    float: none;
    background: transparent;
    line-height: 45px;
    display: inline-block;
    width: 80px;
    height: 30px;
  }

  .menu{
    z-index: 1;
    background: #ffffff;
    position: fixed;
    width: 250px;
    padding: 10px 20px;
    top: 10%;
    left: 3%;
    box-shadow: 0px 1px 15px rgba(200,200,200,0.3);
     
     
  }

  .menu p{
      font-family: Helvetica;
      font-size: 25px;
  }
  

  /* -----------------shop container----------------- */


.shop-container{
    display: flex;
    flex-flow: row wrap;
    /* margin-top: 185px;
    margin-left: 369px; */
    /* background: #b65e5e; */
    /* width: 75%; */
}

.shop-nav{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    /* background: #8f8d8d; */
    width: 92%;
    
}

.shop-nav h2{
    margin-left: 25px;
    flex-grow: 40;
}

.page{
    flex-grow: 16;
    align-content: flex-end;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    line-height: 4;
}

.navb{
    padding: 6px;
    height: 30px;
    width: 30px;
    border: transparent;
    box-shadow: 1px 1px 2px;
    border-radius: 3px;
    background: #ffffff;
    text-decoration: none;
}



.categories{
   
    margin-left: 2%;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-between;
    width: 82%;
    font-size: 20px;
    margin-right: 9.2%;

}

.categories span{
    justify-content:flex-start;
    flex-grow: 1;
   /* text-align: left; */
   flex-shrink: 0;
   border-bottom: solid #c7c7c7;
}

.categories span a{
    text-decoration: none;
    color: #393ab1;
}

.sort{
    justify-content: flex-start;
    flex-grow: 10 !important;
    text-align: right;
    flex-shrink: 0;
    /* border-bottom: solid #c7c7c7; */
}


.p-container{
    display: flex;
    width: 84%;
    /* margin-left: 25px; */
    margin-top:10px;
    flex-flow: row wrap;
}

.product{

    width:150px;
    height:300px;
    background: #ffffff;
    box-shadow: 0px 1px 15px rgba(200,200,200,0.3);
    border:none;
    text-align: center;
    padding: 25px;
    margin: 2%;



}
.product img{
    width: inherit;
}
.product span{
    display: block;
    font-size: 30px;
    word-break: break-all;
    text-overflow: ellipsis;
    height: 35%;
    margin-bottom: 20px;
    overflow: hidden;
    
}

.price{
    font-size: 35px;
    color: #393ab1;
}


.main-container{
    display: flex;
    width: 1390px;
    margin: 0 auto;
    
}





.right{
    display: inline-flex;
    width: 75%;
    flex-wrap: wrap;
    align-items: self-end;
    justify-content: space-between;
}

.left{
    font-family: Helvetica;
    font-size: 22px;
    width: 25%;
    /* color: #ffffff; */
}

.search{
    display: inline-flex;
    padding: 1% 0 1% 0%;
    flex: 0;
}

.main-container1{
    display: flex;
    margin-top: 10%;
}