body{
    background:grey;
    margin: 0;
    
}



.sidenav{

    width: 15%;
    height: 100%;
    background: #2f373f;
    position: absolute;
    top: 0;
}

footer{
    margin: auto;
}

article{
  
    text-align: center;
    color: white;


}
h3{

   
    text-align: center;
    color: white;
}
table{
    text-align: center;
    box-align:center;
    border: white;
    color:white;
}

a{
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
}

.det{
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img{
    
    display: block;
    margin-left: auto;
    margin-right: auto;        
      
}
.proddet{
    text-align: center;
    color: white;
    width: 50%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

footer{
    position: fixed;
    left: 0;
    bottom:0;
    width: 100%;
    color: white;
    text-align: center;
}