*{
    margin: 0;
    padding: 0;
}

html{
    font-family: helvetica,serif, thin;
}

h1{
    font-family: Helvetica;
    font-size: 30px;
    margin-top: 10%;
    color: #ffffff;
}

.topnav{

    background: #f8cb00;
    width: 100%;
    position: fixed;
    top: 0;
    
}

.main-container{

    width: 1500px;
    margin: 0 auto;
    display: flex;


}

.main-container1{

    width: 1500px;
    margin: 10% auto;
    display: flex;



}

.left {
    width: 25%;
}

.right{
    width:75%;
    
}

.top-menu ul li{
    display: inline;
}

.contact{
    display: flex;
    justify-content: space-between;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    margin: 4% auto;
    font-size: 17px;
}

.search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-block-end: 2%;
    /*margin-block-start: 1%;*/
}

#input{
    width: 100%;
    flex:3;
}

#input input{

    height: 30px;
    width: 100%;
    padding: 10px;
    border:transparent;
    border-radius: 3px;


}

.cart{
    display: inline-flex;
    flex: 1;
    justify-content: flex-end;
    align-items: right;
    /* background: blue; */
    /* height: 25px; */
    padding: 10px;
    border: transparent;
    border-radius: 3px;
    padding: 5px 0 5px 5px;
    vertical-align: middle;

}

.cart a{
    background: #7b72bb;
    height: 30px;
    padding: 10px 50px 10px 15px;    
    /* float: none; */
    position: relative;
    border: transparent;
    border-radius: 3px;
    color: #ffffff;
    

}

.cart a span{
    padding: 15px;
    line-height: 1.7;
}

#item-nr{
    display: inline;
    background:#393ab1;
    /* height: 25px; */
    /* float: right; */
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 0 15px;
    line-height: 3;
    border: transparent;
    border-radius: 3px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;


}

.menu{
    position: fixed;
    border:transparent;
    background: #ffffff;
    box-shadow: 0px 1px 15px rgba(200,200,200,0.3);
    width: 260px;
    padding: 10px 15px;
    border-radius: 5px; 
    top:12.3%;
    /*left:17%;*/


}

.menu ul{
    font-size: 25px;
}

.menu ul li{
    padding: 15px 0 0 0;
}

.sublist{
    font-size: 15px !important;
    color: #a7a5a7;
}

.shop-nav{

    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 1%; 
}

.navb{
    padding: 6px;
    height: 30px;
    width: 30px;
    border: transparent;
    box-shadow: 0px 1px 15px rgba(200,200,200,0.3);
    border-radius: 3px;
    background: #ffffff;
    text-decoration: none;
    font-size: 20px;
}

.page{
        padding: 0 5px;

}

.filter{
    display: inline-flex;
    align-items: center;
    width: 100%;
    margin-top: 1%;

}

.filter span{

    padding: 0 20px 0px 0px;



}

.sort{
    padding: 0px !important;
}


.part2{
    margin:0;
    display: inline-flex;
    justify-content: space-between;
    flex:1;

}


.p-container{
       display: flex;
    width: 100%;
    /* margin-left: 25px; */
    margin-top: 10px;
    flex-flow: row wrap;
    justify-content: space-between;
}

.product{

     width: 200px;
    height: 400px;
    background: #ffffff;
    box-shadow: 0px 1px 15px rgba(200,200,200,0.3);
    border: none;
    text-align: center;
    padding: 10px 50px 20px 30px;
    flex: 1;
    margin: 10px 0 40px auto;



}
.product img{
    width: inherit;
}
.product span{
    display: block;
    font-size: 30px;
    word-break: break-all;
    text-overflow: ellipsis;
    height: 35%;
    margin-bottom: 20px;
    overflow: hidden;
    
}

.price{
    font-size: 35px;
    color: #393ab1;
}